.projects-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
}

.project-img {
    height: 150px;
    width: 150px;
    border-radius: 1rem;
}

.project-entry {
    margin-top: 30px;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}

.img-list {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 15%;
}

.store-list {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-description {
    flex: 1;
}

.store {
    width: 110px;
    margin: 5px;
}
