.course-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.3rem;
    line-height: 2rem;
    table-layout: fixed;
    margin-bottom: 30px;
}

table td {
    border-bottom: 1px solid #ccc;
    text-align: left;
}

tr:hover {
    background-color: rgb(238, 238, 238);
}

td {
    padding: 5px;
}

.header-course {
    width: 70%;
    font-weight: bold;
}

.header-year {
    width: 20%;
    font-weight: bold;
}

.header-grade {
    width: 10%;
    font-weight: bold;
}

.section:nth-of-type(2n) {
    background-color: whitesmoke;
}
