.edu-exp {
    background-color: whitesmoke;
}

.education-content-in {
    width: 100%;
    align-items: stretch;
    justify-content: space-between;
    display: flex;
}

.education,
.experience {
    flex: 0.45;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.edu-entry-title {
    font-size: 1.3rem;
}

.edu-entry {
    margin-bottom: 20px;
    line-height: 1.5rem;
}

.edu-entry-time {
    color: rgba(0, 0, 0, 0.5);
}

.edu-entry-subtitle {
    color: rgba(0, 0, 0, 0.8);
}
