.navbar {
    display: flex;
    height: 60px;
    justify-content: center;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 9999;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-content {
    width: 80%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.navbar-content-left {
    display: flex;
}

.navbar-content-right {
    display: flex;
}

.navbar-logo{
    font-size:  xx-large;
    font-weight: bold;
}

.navbar-item {
    font-size: larger;
    font-weight: bold;
    padding-left: 40px;
}
