.skills {
    background-color: white;
}

.skills-content-in {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-entry {
    border-radius: 1rem;
    padding: 30px 50px;
    margin: 8px;
    box-sizing: border-box;
    background-color: whitesmoke;
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-entry-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.skill-entry-content {
    text-align: center;
    padding-top: 15px;
    font-size: 1.3rem;
}
