.title {
    font-size: 2rem;
}

.page {
    padding-bottom: 50px;
}

.subtitle {
    font-size: 1.3rem;
}

.section {
    display: flex;
    justify-content: center;
}

.container-out {
    width: 75%;
    padding: 30px 0;
}

.container-in {
    width: 100%;
}

.no-top-margin {
    margin-top: 0;
}

p {
    margin: 10px 0;
    font-size: 1.3rem;
    line-height: 2rem;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: grey;
    text-decoration: none;
}

a:active {
    color: grey;
    text-decoration: none;
}